@media (min-width: 100px) and (max-width: 767px)
{
    /* =============================== header start =============================== */
    .top-header{
        display: none !important;
    }
    .nav-bar{
        justify-content: space-between !important;
    }
    .navbar-expand-md{
        display: none !important;
    }
    .user .form{
        width: 100% !important;
        margin-inline: 0% !important;
    }
    /* =============================== header end =============================== */

    /* =============================== banner start =============================== */
    .carousel-caption{
        top: 10% !important;
        position: relative !important;
        text-align: center !important;
    }
    .carousel-caption h2,h1,button{
        display: none !important;
    }
    /* =============================== banner end =============================== */

    /* =============================== sub banner start =============================== */
    .sub-banner-container{
        display: flex !important;
        flex-direction: column !important;
    }
    .card{
        width: 90vw !important;
        margin-inline: 2% !important;
    }
    /* =============================== sub banner end =============================== */

    /* =============================== new arrival start =============================== */
    .new-arrival-container{
        display: flex !important;
        flex-direction: column !important;
    }
    /* =============================== new arrival end =============================== */

    /* =============================== spring sale start =============================== */
    .spring-sale-container h1{
        font-size: 30px !important;
    }
    .spring-sale-container p{
        font-size: 20px !important;
    }
    /* =============================== spring sale end =============================== */
}
@media (min-width: 768px) and (max-width: 1199px)
{
    /* =============================== header start =============================== */
    .top-header h6{
        padding: 0% !important;
    }
    .nav-bar{
        justify-content: space-between !important;
    }
    .navbar-expand-md{
        display: none !important;
    }
    /* =============================== header end =============================== */

    /* =============================== banner start =============================== */
    .carousel-caption h2,h1{
        font-size: 40px !important;
    }
    .carousel-caption button{
        padding: 10px 20px !important;
    }
    /* =============================== banner end =============================== */

    /* =============================== new arrival start =============================== */
    .new-arrival-container{
        grid-template-columns: repeat(2, 1fr) !important;
    }
    /* =============================== new arrival end =============================== */
}