@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&display=swap');
/*============================== global style start =============================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anek Bangla", sans-serif;
}
body{
    background-color: #ffffff;
}
a{
    text-decoration: none;
}
.mt{
    margin-top: 100px;
}
/*============================== global style end ============================  */
 
/* ============================== header style start ============================ */
.top-header{
    background-color: #f5f5f5;
    padding: 10px 0px;
}
.contact a{
    font-size: 12px;
}
.contact a i{
    font-size: 12px;
}
.contact a:hover{
    color: #e95353 !important;
    text-decoration: underline;
}
header h6{
    font-size: 12px;
    padding-right: 150px;
}
.social-icon a i{
    font-size: 12px;
}
.social-icon a:hover{
    color: #e95353 !important;
}
.navbar{
    background-color: #ffffff;
}
.navbar span, a i{
    font-size: 20px;
}
.navbar ul li a{
    font-size: 18px;
    color: black;
}
.navbar ul li a:hover{
    color: #e95353 !important;
}
.user i:hover{
    color: #e95353 !important;
}
.close{
    position: absolute;
    top: 0px;
    right: 0px;
}
/* ============================== header style end ============================ */

/* ============================== banner style start ============================ */
.carousel-itemimg{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.carousel-caption{
    position: absolute;
    top: 30%;
    text-align: center; 
}
.carousel-caption h2{
    font-size: 70px;
    font-weight: bold;
}
.carousel-caption h1{
    font-size: 100px;
    font-weight: bold;
    color: black;
}
.carousel-caption button{
    background-color: #ffffff;
    border: none;
    padding: 10px 70px;
    margin-top: 20px;
}
.carousel-caption button:hover{
    background-color: #e95353;
    color: #ffffff;
}
/* ============================== banner style end ============================ */

/* ============================== sub-banner style start ============================ */
.sub-banner-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.card-1,.card-2,.card-3{
    border: none;
    border-radius: 10px;
    height: 15rem;
    color: #ffffff;
}
.card-1{
    background-image: url('../asset/sub-banner\ 1.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.card-2{
    background-image: url('../asset/sub-banner\ 2.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.card-3{
    background-image: url('../asset/sub-banner\ 3.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.card h2{
    font-size: 40px;
    font-weight: bolder;
}
.card p{
    font-size: 20px;
}
.card-body{
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.card-body:hover{
    border: 1px solid black;
    color: black;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.card-body a{
    padding: 0px;
}
/* ============================== sub-banner style end ============================ */

/* ============================== new arrival style start ============================ */
.new-arrival h1{
    font-size: 50px;
    font-weight: bolder;
}
.new-arrival p{
    font-size: 20px;
    font-weight: bold;
}
.new-arrival-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.new-arrival-card .card{
    border: none;
}
.card-head img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.new-arrival-btn{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px 120px;
}
.new-arrival-btn:hover{
    background-color: #e95353;
    color: #ffffff;
}
/* ============================== new arrival style end ============================ */

/* ============================== spring-sale style start ============================ */
.spring-sale-container{
    background-image: url('../asset/spring\ sale.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.spring-sale-btn{
    background-color: #f06969;
    color: #ffffff;
    padding: 10px 70px;
}
.spring-sale-btn:hover{
    background-color: rgb(14, 14, 14);
    color: white;
}