@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&display=swap');
/*============================== global style start =============================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anek Bangla", sans-serif;
}
body{
    background-color: #ffffff;
}
h1{
    font-size: 50px;
    text-transform: capitalize;
}
a{
    text-decoration: none;
}
.mt{
    margin-top: 100px;
}
/*============================== global style end ============================  */
 
/* ============================== header style start ============================ */
.top-header{
    background-color: #f5f5f5;
    padding: 10px 0px;
}
.contact a{
    font-size: 12px;
}
.contact a i{
    font-size: 12px;
}
.contact a:hover{
    color: #e95353 !important;
    text-decoration: underline;
}
header h6{
    font-size: 12px;
    padding-right: 150px;
}
.social-icon a i{
    font-size: 12px;
}
.social-icon a:hover{
    color: #e95353 !important;
}
.navbar{
    background-color: #ffffff;
}
.navbar span, a i{
    font-size: 20px;
}
.navbar ul li a{
    font-size: 18px;
    color: black;
}
.navbar ul li a:hover{
    color: #e95353 !important;
}
.user i:hover{
    color: #e95353 !important;
}
.close{
    position: absolute;
    top: 0px;
    right: 0px;
}
/* ============================== header style end ============================ */

/* ============================== banner style start ============================ */
.carousel-itemimg{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.carousel-caption{
    position: absolute;
    top: 30%;
    text-align: center; 
}
.carousel-caption h2{
    font-size: 70px;
    font-weight: bold;
}
.carousel-caption h1{
    font-size: 100px;
    font-weight: bold;
    color: black;
}
.carousel-caption button{
    background-color: #ffffff;
    border: none;
    padding: 10px 70px;
    margin-top: 20px;
}
.carousel-caption button:hover{
    background-color: #e95353;
    color: #ffffff;
}
/* ============================== banner style end ============================ */

/* ============================== sub-banner style start ============================ */
.sub-banner-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.card-1,.card-2,.card-3{
    border: none;
    border-radius: 10px;
    height: 15rem;
    color: #ffffff;
}
.card-1{
    background-image: url('../asset/sub-banner\ 1.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.card-2{
    background-image: url('../asset/sub-banner\ 2.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.card-3{
    background-image: url('../asset/sub-banner\ 3.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.card h2{
    font-size: 40px;
}
.card p{
    font-size: 20px;
}
.card-body{
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.card-body:hover{
    border: 1px solid black;
    color: black;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.card-body a{
    padding: 0px;
}
/* ============================== sub-banner style end ============================ */

/* ============================== new arrival style start ============================ */
.new-arrival p{
    font-size: 20px;
    font-weight: bold;
}
.new-arrival-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.new-arrival-card .card{
    border: none;
}
.card-head img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.new-arrival-btn{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px 120px;
}
.new-arrival-btn:hover{
    background-color: #e95353;
    color: #ffffff;
}
/* ============================== new arrival style end ============================ */

/* ============================== spring-sale style start ============================ */
.spring-sale-container{
    background-image: url('../asset/spring\ sale.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.spring-sale-btn{
    background-color: #f06969;
    color: #ffffff;
    padding: 10px 70px;
}
.spring-sale-btn:hover{
    background-color: rgb(14, 14, 14);
    color: white;
}
/* ============================== spring-sale style end ============================ */

/* ============================= tranding-now style start ============================ */
.active-btn{
    border-radius: 0px;
    padding: 10px 70px;
    background-color: black;
    color: #ffffff;
}
.active-btn:hover{
    background-color:rgb(14, 14, 14);
    color: #ffffff;
}
.tanrding-now-btn{
    border: 0.5px solid grey;
    border-radius: 0px;
    padding: 10px 70px;
}
.tanrding-now-btn:hover{
    background-color: rgb(14, 14, 14);
    color: #ffffff;
}
.tranding-now-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.tranding-now-card .card{
    border: none;
}
.tranding-now-card .card-head img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
/* ============================= tranding-now style end ============================ */

/* ============================= collection style start ============================ */
.swiper{
    width: 100%;
    height: 100%;
}
.swiper-slide{
    text-align: center;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.swiper-slide h2{
    font-size: 40px;
}
.slide-1{
    background-image: url('../asset/collection\ 1.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 65vh;
}
.slide-2{
    background-image: url('../asset/collection\ 2.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 65vh;
}
.swiper-btn{
    background-color: #ffffff;
    color: rgb(14, 14, 14);
    padding: 10px 40px;
    margin-top: 10px;
}
.swiper-btn:hover{
    background-color: rgb(14, 14, 14);
    color: #ffffff;
}
.swiper-pagination{
    display: none;
}
.swiper-button-next, .swiper-button-prev{
    color: #ffffff;
    font-size: 12px;
}
/* ============================= collection style end ============================ */

/* ============================= sb banner style start ============================ */
.sb-banner-container{
    background-image: url('../asset/sb\ banner.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.text-1{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50%;
    border-right: 1px solid #d64b4b;
}
.text-2{
    flex: 4;
    display: flex;
    align-items: center;
    text-align: start;
    padding-left: 40px;
}
/* ============================= sb banner style end ============================ */

/* ============================= article style start ============================ */
.article-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.art-img-1{
    background-image: url('../asset/model.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    justify-content: start;
    align-items: last baseline;
}
.art-img-2{
    background-image: url('../asset/life\ style.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    justify-content: start;
    align-items: last baseline;
}
.art-img-3{
    background-image: url('../asset/fashion\ trand.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    justify-content: start;
    align-items: last baseline;
}
.art p{
    background-color: #f37c7c;
    margin-left: 30px;
    padding: 1px 15px;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
}
.art-text a:hover{
    color: #f37c7c !important;
}
/* ============================= article style end ============================ */

/* ============================= brand style start ============================ */
.brand-slide{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 50px 20px;
    justify-content: center;
    align-items: center;
}
.brand-slide img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0px 40px;
    
}
.swiper-button-prev, .swiper-button-next{
    color: rgb(156, 154, 154);
    padding: 20px 20px;
}
.mySwiper-1{
    border-top: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgb(219, 219, 219);
}
/* ============================= brand style end ============================ */

/* ============================= connection style start ============================ */
.connection{
    background-color: #a6a6a6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
}
.connection-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-icon{
    position: relative;
}
.connection-form input{
    background-color: transparent;
}
.connection-form input::placeholder{
    color: #fff;
}
.input-icon i{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #fff;
}
.input-icon input{
    padding-left: 30px;
}
.connection-form button{
    color: #fff;
}
/* ============================= connection style end ============================ */

/* ============================= shipping style start ============================ */
.shipping{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 60px 0px;
    border-bottom: 1px solid rgb(219, 219, 219);
    border-top: 1px solid rgb(219, 219, 219);
}
.shipping i{
    color: #f06969;
}
/* ============================ shipping style end ============================ */

/* ============================= instagram style start ============================ */
.instagram h5{
    font-size: 30px;
}
.instagram h5 span, a{
    color: #f06969;
}
.insta-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    width: 100%;
    padding-top: 50px;
}
/* ============================ instagram style end ============================ */

/* ============================= before-footer style start ============================ */
.before-footer{
    background-color: #f5f5f5;
    height: 60vh;
    width: 100%;
}
.before-footer-container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 100%;
    width: 100%;
    padding-top: 60px;
}
.footer-item a:hover{
    color: #f06969 !important;
}
/* ============================ before-footer style end ============================ */

/* ============================ footer style start ============================ */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mt-1{
    padding-top: 5px !important;
}